* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0 20rem;
    background-color: dodgerblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.input_text_button {
    margin: 10px 0;
    /* border-radius: 40px; */
    height: 40px;
    padding-left: 10px;
    font-size: large;
    border: 0;
}

.input_text_button:focus {
    outline-style: solid;
    outline-color: rgb(14, 43, 116);
    outline-width: 2px;
}

.input_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add_remove {
    width: 150px;
    margin: 0 30px;
    border-radius: 0;
    text-align: center;
    background: rgb(30, 94, 255);
    color: white;
}

.heading {
    padding: 20px 0;
    color: white;
    font-weight: 400;
}

table {
    background-color: white;
    margin: 20px 0;

}

td {
    border: 0;
}

tr {
    padding: 7px 0;
    border: 0;
    text-align: center;
}

.selected > td {
    background-color: green;
    color: white;
}

.blur {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.play_screen {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline_container {
    position: relative;
    padding: 10px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#timeline1 {
    background-color: white;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 50%;
}

#timeline2 {
    background-color: black;
    height: 3px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 50%;
}