* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0 20rem;
    background-color: dodgerblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.input_text_button {
    margin: 10px 0;
    border-radius: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: large;
    border: 0;
}

.input_text_button:focus {
    outline-style: solid;
    outline-color: rgb(30, 94, 255);
    outline-width: 2px;
}

.input_buttons {
    display: flex;
    flex-direction: row;
}

.add_remove {
    width: 100%;
    margin: 0 30px;
    background: rgb(30, 94, 255);
    color: white;
}

.heading {
    padding: 20px 0;
    color: white;
    font-weight: 400;
}

table {
    background-color: white;
    border-radius: 30px;
    margin: 20px 0;

}

tr {
    padding: 7px 0;
    text-align: center;
}